//layout
@media screen and(min-width: 576px) {
  .container {
      max-width: 540px;
  }
}

@media screen and(min-width: 768px) {
  .container {
      max-width: 720px;
  }
}

@media screen and(min-width: 992px) {
  .container {
      max-width: 960px;
  }
}

@media screen and(min-width: 1200px) {
  .container {
      max-width: 1140px;
  }
}

@media screen and(min-width: 1440px) {
  .container {
      max-width: 1380px;
  }
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}


//global styles
body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  font-family: sans-serif;
}

h1 {
  color: #172b4d;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  line-height: 24px;
  margin: 20px 0 30px 0px;
}

form {
  width: 100%;
}

$bgSideNav: #454545;
$activeColor: #0037d3;
$activeSecondaryNav: #ff068f;
$colorNav: #deebff;

//left navigation
.wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow: hidden;
  margin-left: 60px;
}

.sidebar-wrapper {
  z-index: 1;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  background: $bgSideNav;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow-x: hidden;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 2px;
  &.bottom {
    top: initial;
    bottom: 0;
    li:last-of-type {
      border-top: 2px solid $colorNav;
    }
  }
  li {
    text-indent: 15px;
    line-height: 40px;
    &.active {
      border-left: 2px solid $activeSecondaryNav;
      background: darken($bgSideNav, 10%);
    }
    a {
      font-size: 14px;
      display: flex;
      align-items: center;
      padding-left: 15px;
      text-decoration: none;
      color: #deebff;
      height: 60px;
      .brand {
        color: $colorNav;
      }
      &:hover {
        text-decoration: none;
        color: #fff;
        background: darken($bgSideNav, 10%);
        }
        &:active, &:focus {
          text-decoration: none;}
        svg {
          fill: $colorNav;
        }
        svg:nth-child(1) {
          display: block;
        }
        svg:nth-child(2) {
          display: none;
        }
      span {
        display: flex;
      }
    }
  }
}

//main part

.mobile-nav-wrapper {
  display: block;
  ul.mobile-nav {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    list-style: none;
    background: #454545;
    li {
      &.active {
        a {
          border-bottom: 2px solid $activeSecondaryNav;
          background: darken($bgSideNav, 10%);
        }
      }
      &:hover {
        a {
          text-decoration: none;
          color: #fff;
          background: darken($bgSideNav, 10%);
          }
        }
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: #deebff;
        height: 60px;

        &:hover {
          text-decoration: none;
          color: #fff;
          background: darken($bgSideNav, 10%);
          }
        svg {
          fill: $colorNav;
          width:30px;
          height:30px;
        }
      }
    }
  }
}

.filter-main {
  position: relative;
  padding: 20px 5px;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px, rgba(0, 0, 0, 0.2) 0px 2px 4px -1px;
}

.version-filter-button {
  background: #0052cc;
  color: #fff;
  &.main {
    background-image:url('../assets/icons/three-dots-more-indicator.svg');
    background-repeat:no-repeat;
    background-position: center center;
  }
}

.filter-group {
  display: flex;
  margin-bottom: 20px;
}

.version-filter-text-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .input-filter-text-container {
      position: relative;
      width: 40px;
      display: flex;
      align-items: center;
      input {
        transition: all 0.5s ease;
        position: absolute;
        background-image:url('../assets/icons/ic_search_black_24px.svg');
        background-repeat:no-repeat;
        color: #172b4d;
        font-size: 14px;
        font-weight: 400;
        font-style: normal;
        line-height: 20px;
        background-color: #f4f5f7;
        border: 1px solid #dfe1e6;
        background-position: right;
        padding-right: 30px;
        width: 10px;
        height: 32px;
        border-radius: 3px;
        &:focus {
          width: 115px;
        }
      }
    }

  .version-filter-status-text {
    display: inline-flex;
    align-items: center;
    span {
      color: #5e6c84;
      font-style: normal;
      font-size: 12px;
      font-weight: 600;
      line-height: 16px;
      margin-top: 2px;
      margin-left: 10px;
      text-transform: uppercase;
      white-space: nowrap;
    }
  }
  .version-filter-status-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left:10px;
    position: relative;
    .main {
      display: flex;
      align-items: center;
      margin-left: 10px;
      a {
        background: none;
        padding: 0;
        margin-left: 5px;
        height: initial;
      }
    }
    .main-filter-cta {
      margin-left:10px;
      display: none;
    }
    a {
      background-color: #f4f5f7;
      color: #505f79;
      text-decoration: none;
      border: none;
      margin-right: 5px;
      height: 32px;
      min-width: 24px;
      border-radius: 3px;
      text-shadow: none;
      padding: 10px 20px;
    }
  }
}

@media screen and(max-width: 896px) {
  .input-filter-text-container {
    width: calc(100% - 100px)!important;
    input {
      width:100%!important;
        }
    }
  .filter-group {
      width:100%!important;
      margin-bottom:40px;
  }
  .version-filter-status-text span, .quick-filter {
    display: none;
  }
  .version-filter-status-text {
    margin-left: auto;
  }
  .main-cta {
    margin-left: initial!important;
  }
  .main-filter-cta {
    display: initial!important;
    a {
      display: initial!important;
    }
  }
}

.main-cta {
  display: flex;
  margin-left: auto;
  margin-bottom: 20px;
  .button-primary {
    background: #0052cc;
    color: #fff;
    font-weight: bold;
    border-radius: 3px;
    padding: 10px 10px;
    border: none;
  }
}

.mobile-brand {
  background-color: $bgSideNav;
  padding: 5px 0px;
  a {
    display: flex;
    align-items: center;
    color: $colorNav;
    text-decoration: none;
    font-size: 14px;
  }
}

ul.nav-links {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  height: auto;
  border-bottom: 1px solid #e5e5e5;
  li {
    display: flex;
    a {
      border-bottom-color: #6666c4;
      padding: 16px 15px 11px;
      color: #000;
      font-weight: 600;
      padding: 10px;
      padding-bottom: 11px;
      font-size: 14px;
      line-height: 28px;
      color: #707070;
      white-space: nowrap;
      color: #1b69b6;
      text-decoration: none;
    }
      &.active {
        a {
          border-bottom: 2px solid $activeSecondaryNav;
        }
      }
      &:hover:not(.active) {
        a {
          border-bottom: 2px solid rgba(255, 0, 0, .3);
        }
      }
    }
  }

.mobile-tab {
  margin-left:10px;
}

@media screen and(max-width:400px) {
  .mobile-tab {
    font-size:15px;
    margin-left:5px;
  }
  .mobile-nav {
    svg {
      width: 20px!important;
      height: 20px!important;
    }
  }
}

@media screen and(min-width:768px) {
  .sidebar-wrapper {
      width: 190px;
  }
  .wrapper {
    &.toggled {
      .sidebar-wrapper {
        width: 60px;
      }
      .sidebar-wrapper {
        .sidebar-nav {
          &.bottom {
            li:nth-child(2) {
              svg:nth-child(1) {
                display: none;
              }
              svg:nth-child(2) {
                display: block;
              }
            }
          }
        }
      }
      #page-content-wrapper {
        margin-left: 0 !important;
      }
    }
  }
}

@media screen and(min-width:768px) and(max-width:769px) {
  #page-content-wrapper {
    margin-left: 190px!important;
  }
}

@media screen and(min-width:768px) {
  #page-content-wrapper {
    margin-left: 130px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
}

section{
  &.data-group {
    background: #eeeeee;
  }
}
.container-table {
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px 5px;
}

.wrap-table {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.table {
  width: 100%;
  display: block;
  margin: 0;
}

.row {
  display: block;
  background: #fff;
}

.row.header {
  padding: 0;
  height: 0px;
}
.row.header .cell {
  display: none;
}

.row .cell:before {
  font-size: 12px;
  color: #808080;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 5px;
  content: attr(data-title);
  min-width: 98px;
  display: block;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .table {
    display: table;
  }
  .row {
    display: table-row;
  }

  .row.header {
    color: #ffffff;
    background: #757575;
  }

  .row.header .cell {
    display: table-cell;
  }

  .row .cell:before {
    display: none;
  }
}

.cell {
  display: block;
  vertical-align: middle;
}

@media screen and (min-width: 768px) {
  .cell {
    display: table-cell;
    max-width: 170px!important;
  }
  .row .cell .cell-wrapper {
    max-width: 200px!important;
    overflow: hidden!important;
    white-space: nowrap!important;
    overflow: hidden!important;
    display: inline-block!important;
    text-overflow: ellipsis!important;
    margin: 0;
    padding-bottom: 2px;
    padding-right: initial!important;
  }
}

@media screen and (min-width: 768px) {
  .mobile-nav-wrapper {
    display: none;
  }
}

.row {
  .cell {
  font-size: 14px;
  color: #666666;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 15px;
  max-width: initial;
    .cell-wrapper {
      max-width: initial;
      overflow: initial;
      white-space: initial;
      display: inline-block;
      text-overflow: initial;
      padding-right: 50px;
    }
  }
  &.header {
    .cell {
      font-size: 14px;
      color: #fff;
      line-height: 1.2;
      font-weight: unset !important;
      padding: 10px 0px;
    }
  }
}

.table, .row {
  width: 100% !important;
}

@media (max-width: 768px) {
  .row {
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 18px;
    padding-top: 30px;
    padding-right: 15px;
    margin: 0;
  }

  .row .cell {
    border: none;
    padding-left: 30px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .row .cell:nth-child(1) {
    padding-left: 30px;
  }

  .row .cell {
    font-size: 16px;
    color: #555555;
    line-height: 1.4;
  }

  .table, .row, .cell {
    width: 100% !important;
  }
  .wrapper {
    margin-left: 0;
  }
}

@media (max-width: 1368px) and (min-width:768px) {
  .row {
    .cell:nth-child(5) {
      display: none;
    }
  }
}
@media (max-width: 1168px) and (min-width:768px) {
  .row {
    .cell:nth-child(6) {
      display: none;
    }
  }
}
@media (max-width: 1068px) and (min-width:768px) {
  .row {
    .cell:nth-child(7) {
      display: none;
    }
  }
}
@media (max-width: 968px) and (min-width:768px) {
  .row {
    .cell:nth-child(8) {
      display: none;
    }
  }
}
@media (max-width: 868px) and (min-width:768px) {
  .row {
    .cell:nth-child(9) {
      display: none;
    }
  }
}

.version-filter-search-container {
  transition: width 100ms ease-in-out;
  width: 48px;
  left: 0;
  top: 11px;
}

@media only screen and (max-width: 768px) {
    .hamburger-wrapper {
      display: flex;
      align-items: center;
    //  position: fixed;
      top: 24px;
      right: 24px;
      //display: inline-block;
      cursor: pointer;
      z-index: 2000;
      /* background: white; */
      padding: 8px 11px 7px 11px;
      border-radius: 50%;

    #nav-icon3 {
      margin-left: auto;
      margin-top: -45px;
      width: 30px;
      height: 22px;
      position: relative;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .5s ease-in-out;
      -moz-transition: .5s ease-in-out;
      -o-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
      cursor: pointer;
    }

    #nav-icon3 span {
      display: block;
      position: absolute;
      height: 3px;
      width: 100%;
      background: white;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out;
      width:24px;
    }

    /* Icon 3 */

    #nav-icon3 span:nth-child(1) {
      top: 0px;
    }

    #nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
      top: 8px;
    }

    #nav-icon3 span:nth-child(4) {
      top:16px;
    }

    #nav-icon3.open span:nth-child(1) {
      top: 18px;
      width: 0%;
      left: 50%;
    }

    #nav-icon3.open span:nth-child(2) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    #nav-icon3.open span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }

    #nav-icon3.open span:nth-child(4) {
      top: 18px;
      width: 0%;
      left: 50%;
    }
  }
}
